* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    vertical-align: baseline;    
}

header {
    margin: 15px 15px 10px;
}

.youtube{
    margin-right: 45%;
}

.video {
   margin: 10px 5px 0px;
}

.sidebar {
    margin-top: -47.2em;
    padding-top: 5px;
    float: right;
}

.icon{
    float: right;
}